<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  
  <log4net>
    <!--根记录-->
    <root>
      <!-- 记录哪个级别以上的日志:  OFF->FATAL->ERROR->WARN->INFO->DEBUG/ALL -->
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFile"/>
    </root>
    
    <!--日志输出介质-->
    <!--输出到控制台-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />-->
        <conversionPattern value="%date %level %thread %logger - %message %newline"/>
      </layout>
    </appender>

    <!--输出到文件-->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <!--1. 文件路径，如果RollingStyle为Composite或Date，则这里设置为目录，文件名在DatePattern里设置，其他则这里要有文件名。已经扩展支持虚拟目录-->
      <file value=".\logs\" />
      <!--2. 创建新文件的方式，可选为Size（按文件大小），Date（按日期），Once（每启动一次创建一个文件），Composite（按日期及文件大小），默认为Composite-->
      <rollingStyle value="Date" />
      <!--3. 当 RollingStyle 为 Composite 或 Date，这里设置文件名格式-->
      <datePattern value="yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <!--5. 当 rollingStyle 为Composite 或 Size，这里设置最大文件大小（可以KB，MB，GB为单位，默认为字节）-->
      <!--<maximumFileSize value="30MB" />-->
      <maxSizeRollBackups value="2" />
      <preserveLogFileNameExtension value="true"/>
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%level %thread %logger - %message%newline" />-->
        <conversionPattern value="%date %level %thread %logger - %message %newline"/>
      </layout>

       <!--过滤级别-->
      <!--<filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>-->
      <!--根据字符串过滤-->
      <!--<filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="database" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />-->
    </appender>
    
  </log4net>
</configuration>